.brandingDes {
  margin: 10px 0 0 0;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  color: #999;
}

.nav {
  background: #fff;
  height: 65px;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  margin-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
}

.nav .branding {
  display: block;
  text-align: center;
  margin: 5px 0 15px 0;
  color: #212529;
}

.nav a {
  text-decoration: none;
}

.container-custom {
  width: 40%;
  margin: auto;
}

.container-custom p {
  line-height: 1.6;
  font-size: 20px;
}
